@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* font sizes */
  --xsmall: 14px;
  --small: 16px;
  --medium: 18px;
  --large: 24px;
  --xlarge: 32px;
  --xxlarge: 48px;

  /* font weights */
  --normal: 400;
  --semibold: 500;
  --bold: 600;
  --extrabold: 700;
}

html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
div {
  margin: 0;
  padding: 0;
}

a,
li,
ul {
  list-style: none;
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  background-color: #f5f5f5;
}
